.wrapper {
	color: #373737;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.logotext h1 {
	font-weight: bold;
	font-family: Arial, Verdana;
	font-size: 100px;
	padding: 0;
	margin: 0;
}

p.intro {
	font-family: Arial, Verdana;
	font-size: 20px;
}

.intro a {
	color: green;
	text-decoration: none;
}

div.projects {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.projects .left {
	float: left;
	width: 50%;
}

.projects .right {
	float: right;
	width: 50%;
}

div.project {
	margin: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid black;
	overflow: auto;
	padding: 10px;
}

div.desc {
	margin: 0px 0px 0px 0px;
	padding: 0;
}

.project img {
	width: 101px;
	padding: 20px;
	margin: 0 0 0 0; 
	float: right;
}

.desc h2 {
	margin: 0px 0px 0px 0px;
	padding: 0;
	font-weight: bold;
	font-size: 32px;
	font-family: Arial, Verdana;
}

.desc p {
	font-size: 18px;
	font-family: Arial, Verdana;
}

.desc a {
	font-style: italic;
	color: green;
	text-decoration: none;
}
